body { padding: 0; margin: 0 }

#unity-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#unity-canvas {
  width: 100%;
  background: transparent !important;
  display: block;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-warning {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #f8d7da;
  padding: 10px;
  display: none;
  z-index: 10;
}

#unity-footer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#unity-fullscreen-button {
  cursor: pointer;
  width: 38px;
  height: 38px;
  background: url('fullscreen-button.png') no-repeat center;
}
