{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.build.css' %}">

</head>
<header class="bg-red-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo lub nazwa strony -->
    <div class="text-2xl font-bold">Gry.pl</div>

    <!-- Menu nawigacyjne -->
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a href="#" class="hover:underline">
            Start
          </a>
        </li>
        <li>
          <a href="#" class="hover:underline">
            Akcja
          </a>
        </li>
        <li>
          <a href="#" class="hover:underline">
            Multiplayer
          </a>
        </li>
        <li>
          <a href="#" class="hover:underline">
            Dla dziewczyn
          </a>
        </li>
        <li>
          <a href="#" class="hover:underline">
            Symulatory
          </a>
        </li>
        <li>
          <a href="#" class="hover:underline">
            Zręcznościowe
          </a>
        </li>
        <li>
          <a href="#" class="hover:underline">
            Sport
          </a>
        </li>
        <!-- Zakładka 'O nas' (podkreślona) -->
        <li>
          <a href="{% url 'about' %}" class="underline font-semibold">
            O nas
          </a>
        </li>
      </ul>
    </nav>

    <!-- Wyszukiwarka -->
    <div>
      <input
        type="text"
        placeholder="Wyszukaj grę..."
        class="px-2 py-1 rounded border border-gray-300 text-black"
      />
    </div>
  </div>
</header>
<body>
{% block content %}

{% endblock %}
</body>
</html>
